body {
    font-family: 'Courier New';
}
.nav-link   {
    font-size: 14px;
}
a.navbar-brand img {
width: 175px    
}
.jumbotron {
    background-image: url(BlogJumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
    padding-top: 100px;
    font-size: 20px;
    font-family: 'Courier New';

}